[Desktop Entry]
Encoding=UTF-8
Name=polobittshares
Comment=polobittshares P2P Cryptocurrency
Comment[fr]=polobittshares, monnaie virtuelle cryptographique pair à pair
Comment[tr]=polobittshares, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/polobittshares-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/polobittshares;
Categories=Office;
